<!-- START HEADER  -->
<div class="header-container">
  <header class="wrapper clearfix">
    <div id="header" class="internal">
      <%= render "shared/header" %>
    </div>
  </header>
</div>

<div class="main-container internal">
  <div class="main wrapper clearfix section">
  	<div class="circle_container">
  		<div class="circle">Apply</div>
  	</div>
		<article style="margin-top:-40px">
				<div class="well" style="background-color:#fff; margin-top:50px">
					<div style="text-align:center">
				<h2>APPLY TO BECOME A MEMBER OF THE ALLIANCE</h2>
				<span>Please fill out the following fields below</span>
				</div>
				<hr>
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "form-horizontal" } ) do |f| %>
				  <%= devise_error_messages! %>
				  <div class="row">
				  <div style="float:left; margin-left:30px; margin-right:30px;">
				  <div class="control-group">
				  	<%= f.label :first_name, class: "control-label required" %>
				  	<div class="controls">
				  		<%= f.text_field :first_name, class: "input-xlarge" %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :last_name, class: "control-label required" %>
				  	<div class="controls">
				  		<%= f.text_field :last_name, class: "input-xlarge" %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :email, class: "control-label required" %>
				  	<div class="controls">
				  		<%= f.email_field :email, class: "input-xlarge" %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :zip, "Zip code", class: "control-label required" %>
				  	<div class="controls">
				  		<%= f.text_field :zip, class: "input-xlarge" %>
				  	</div>
				  </div>

				  <div class="control-group">
						<%= f.label :blurb, "A little about you. Please include links to online profiles if you have them (e.g linkedin, personal blog, or other stuff that shows your character).", class: "control-label required" %>
						<div class="controls">
							<%= f.text_area :blurb, class: "input-xlarge", rows: 7 %>
						</div>
					</div>

				  <div class="control-group">
				  	<%= f.label :password, "Password (will be activated if your application is accepted)", class: "control-label required" %>
				  	<div class="controls">
				  		<%= f.password_field :password, class: "input-xlarge" %>
				  	</div>
				  </div>

				  <div class="control-group">
				  	<%= f.label :password_confirmation, class: "control-label required" %>
				  	<div class="controls">
				  		<%= f.password_field :password_confirmation, class: "input-xlarge" %>
				  	</div>
				  </div>
				</div>
				<div style="margin-left:30px;">
					<span>Free Lifetime Membership if you apply in the next 30 days! Otherwise, yearly dues are $100. It pays to get in early!</span>
				</div>
				</div>
				<hr>
				<span style="font-size:12px">We will only use this information internally to send you the occassional email (if your membership is accepted).</span>
				<br/><br/>
				  <div><%= f.submit "Submit Application", class: "btn btn-info" %></div>
				<% end %>
				<br/>
				<%= render "devise/shared/links" %>
			</div>
			</div> 
		</article>
	</div>         
</div> 

<%= render "shared/footer" %>